.wrapper {
    display: grid;
    grid-template-columns: repeat(10, auto);
    width: 150px;
    background-color: rgba(15, 7, 7, 0.3);
    padding: 2px;
  }
  .block {
    background-color: rgba(196, 186, 186, 0.3);
    border: 1px solid rgba(88, 84, 84, 0.3);
    padding: 2px;
    width: 5px;
    font-size: 10px;
    text-align: center;
  }